* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #F5F5F5;
    background: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 80px;
    font-family: 'Poppins', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav .logo {
    font-size: 15px;
    font-weight: 900;
    color: #333333;
    line-height: 16px;
}

.nav .logo a {
    text-decoration: none;
    color: #333333;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
}

.nav ul li:hover {
    color: #6248FF;
    transform: scale(1.02);
}

.nav ul li a:hover {
    color: #6248FF;
}

.nav-actions {
    display: flex;
    gap: 15px;
    align-items: center;
}

.language-selector {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px 15px;
    border: 2px solid #333;
    border-radius: 30px;
    background: white;
    font-weight: bold;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown button {
    width: 100%;
    padding: 8px;
    border: none;
    background: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.dropdown button:hover {
    background: #6248FF;
}

.show {
    display: block;
}

.btn-primary {
    display: inline-block;
    background: #4F62F6;
    color: #fff;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btn-primary:hover {
    background: #7181FC;
    transform: scale(1.02);
}

.btn-header {
    padding: 13px 24px;
    width: 167px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}

.menu-icon {
    display: none;
    margin-top: 12px;
    /* margin: 20px auto; */
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: relative;
}

.menu-icon span {
    background-color: black;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.menu-icon span:first-child {
    top: 0;
}

.menu-icon span:nth-child(2) {
    top: 6px;
}

.menu-icon span:last-child {
    top: 12px;
}

.menu-icon:hover span:nth-child(2) {
    opacity: 0;
}

.menu-icon:hover span:first-child,
.menu-icon:hover span:last-child {
    top: 6px;

}

.menu-icon:hover span:first-child {
    transform: rotate(45deg);
}

.menu-icon:hover span:last-child {
    transform: rotate(-45deg);
}


.mobile-nav {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-bottom: 20px;
}

.mobile-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mobile-nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}


.banner {
    background: rgba(98, 72, 255, 0.1);
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    max-height: 720px;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text {
    max-width: 585px;
}

.banner-text h1 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 72px;
}

.banner-text p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-top: 32px;
    margin-bottom: 48px;
    line-height: 30px;
    color: #666;
    max-width: 483px;
}

.btn-banner {
    width: 257px;
    height: 54px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    padding: 20px 0;
}


.banner-image {
    max-width: 520px;
}

.banner-image .banner-img {
    width: 482px;
    height: 519px;
}

/* steps */

.steps {
    margin-top: 80px;
    position: relative;
}

.title {
    font-family: "Poppins", sans-serif;
    font-size: 56px;
    line-height: 66px;
    font-weight: bold;
    padding-top: 10px;
}

.title-bottom {
    margin-bottom: 60px;
}

.highlight {
    background: rgba(98, 72, 255, 0.1);
}

.step-container-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.step-container-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-right: 120px;
}

.step-box {
    border: 2px solid #6248FF;
    padding: 32px;
    border-radius: 30px;
    max-width: 483px;
    min-height: 233px;
    text-align: left;
    background: #fff;
    position: relative;
    z-index: 2;
    flex-direction: column;
}

.box-right {
    display: flex;
    justify-content: flex-start;
}

.number {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: auto;
    font-weight: 700;
    color: #6248FF;
    margin-bottom: 8px;
}

.step-box-title {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: auto;
    color: #333333;
    margin-bottom: 24px;
}

.step-box-description {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #4F4F4F;
}


.box-left {
    display: flex;
    justify-content: flex-end;
}

.border-box-right {
    width: 400px;
    height: 150px;
    border-top: 5px dotted rgba(102, 64, 240, 0.8);
    border-right: 5px dotted rgba(102, 64, 240, 0.8);
    border-radius: 0 50px 0 0;
    position: absolute;
    left: 450px;
    top: 200px;
    transform: translateY(-50%);
}

.border-box-left {
    width: 400px;
    height: 150px;
    border-top: 5px dotted rgba(102, 64, 240, 0.8);
    border-left: 5px dotted rgba(102, 64, 240, 0.8);
    border-radius: 50px 0 0 0;
    position: absolute;
    top: 150px;
    left: 240px;
}

/* testimonials */

.testimonials {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.testimonial-header-title {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.title-unone {
    display: none;
}

.testimonial-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 700px;
}

.controls-tablet .btn-control {
    display: none;
}

.controls-mobile .btn-control {
    display: none;
}

.controls {
    margin-top: 39px;
}

.btn-control {
    background: white;
    border: 2px solid #E0E0E0;
    color: #333333;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.controls button:hover {
    border: 2px solid #6248FF;
}

.testimonial-container {
    position: relative;
    overflow: hidden;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.testimonial-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonial {
    display: flex;
    align-items: center;
    min-width: 100%;
    box-sizing: border-box;
}

.testimonial-header {
    display: flex;
    flex-direction: column;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
}

.user-photo {
    width: 73px;
    height: 73px;
    border-radius: 50%;
    margin-right: 30px;
}

.testimonial-text {
    display: flex;
}

.quote-icon {
    margin-right: 15px;
}

.quote {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    line-height: auto;
}

.user-name {
    display: flex;
    flex-direction: column;

}

.author {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    line-height: 30px;
    font-family: "Poppins", sans-serif;
}

.position {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #4F4F4F;
}

.counter {
    margin-right: 35px;
}

.testimonial-counter {
    text-align: left;
    font-size: 14px;
    color: #6248FF;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 48px;
}

/* faq-section */

.faq-container {
    max-width: 995px;
    margin: 50px auto;
    font-family: 'Poppins', sans-serif;
}

.faq {
    border: 2px solid #6248FF;
    border-radius: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.faq-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: auto;
    font-weight: 700;
    color: #333333;
    margin-left: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 32px;
    transition: transform 0.3s ease-in-out;
}

/* Відповідь (початково закрита) */
.faq-answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    font-family: "Montserrat", sans-serif;
    padding: 0 20px 0 40px;
    font-size: 16px;
    line-height: 27px;
    color: rgba(79, 79, 79, 1.0);
    max-width: 770px;
    transition: max-height 0.5s ease-in-out, opacity 0.4s ease-in-out, padding 0.4s ease-in-out;
}

/* Відкритий стан */
.faq.open .faq-answer {
    opacity: 1;
    padding: 10px 40px 150px 40px;
    max-height: 600px;
}

/* Обертаємо "+" при відкритті */
.faq.open .icon {
    transform: rotate(45deg);
}

/* contact-section */
.contact-section {
    background: #F5F3FF;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-container {
    display: flex;
    background: #F5F3FF;
    padding: 40px;
    border-radius: 8px;
}

.contact-info {
    flex: 1;
    padding-right: 40px;
    font-family: 'Poppins', sans-serif;

}

.contact-info h2 {
    font-size: 28px;
    font-weight: bold;
    color: #222;
}

.contact-info p {
    font-size: 14px;
    color: #444;
    margin-bottom: 10px;
}

.contact-info a {
    color: #6248FF;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.description {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: 4F4F4F;
}

.contact-text {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: 4F4F4F;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}

.contact-title {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 16px;
    font-weight: 700;
    color: #333333;

}

.contact-text a {
    text-decoration: none;
    color: #333333;
    font-weight: 400;
    font-size: 16px;
}

.contact-form-container {
    flex: 1;
    max-width: 585px;
    padding: 80px;
    background: #fff;
    border-radius: 16px;
    border: 2px solid #6248FF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    width: 100%;
    padding: 7px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease-in-out;
    resize: vertical;
}

input:focus,
textarea:focus {
    border: 2px solid #6248FF;
    outline: none;
}

input.valid,
textarea.valid {
    border: 1px solid green;
}

input.error,
textarea.error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 14px;
    display: none;
}


.btn-contact {
    width: 164px;
    height: 54px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 14px;
    background: #6248FF;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-contact:disabled {
    background: #ccc;
    color: #777;
    cursor: not-allowed;
}

.btn-contact:disabled:hover {
    transform: none;
}

.btn-contact:hover:not(:disabled) {
    background: #4F62F6;
    transform: scale(1.02);
}

.btn-contact:active:not(:disabled) {
    background: #3A50E0;
    transform: scale(0.98);
}

/* footer-container */
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 32px;
    gap: 20px;
}

.footer-logo {
    flex: 1;
    order: 1;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 16px;
    font-weight: 900;
    color: #000000;
    /* margin-right: 160px; */
}

.footer-logo a {
    text-decoration: none;
    color: #000000;
}

.footer-info {
    flex: 2;
    order: 2;
    width: 100%;
    max-width: 380px;
    margin-right: 40px;
    padding: 5px;
}

.footer-title {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #333333;
}

.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: rgba(79, 79, 79, 1.0);
    padding-top: 16px;
}

.footer-navigation {
    flex: 3;
    order: 3;
    max-width: 120px;
}

.footer-navigation ul {
    list-style: none;
    padding: 0;
}

.footer-navigation li {
    margin-bottom: 24px;
}

.footer-navigation a {
    text-decoration: none;
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 16px;
    font-weight: 700;
    transition: color 0.3s ease;
}

.footer-navigation a:hover {
    color: #6248FF;
}

.footer-bottom {
    padding: 20px 0;
}

.footer-container-bottom {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #666;
}

.footer-bottom-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
}

.footer-bottom-links a {
    text-decoration: none;
    color: #666;
    transition: color 0.3s ease;
    white-space: nowrap;
}

.footer-bottom-links a:hover {
    color: #6248FF;
}

/* Tablet 768px */


@media (max-width: 600px),
(max-width: 768px) {
    .container {
        padding: 0 40px;
    }

    .nav {
        display: flex;
        align-items: center;
        padding: 20px 0px 0 16px;
    }

    .nav ul {
        display: none;
    }

    .nav-actions {
        display: flex;
        align-items: center;

    }

    .menu-icon {
        display: flex;
        align-items: center;
    }

    .nav-actions .language-selector {
        display: none;
    }

    .mobile {
        display: none;
    }

    .banner {
        padding: 460px 0;
    }

    .banner-container {
        flex-direction: column;
        text-align: center;
    }

    .banner-text p {
        max-width: 100%;
    }

    .banner-image .banner-img {
        margin-top: 32px;
        width: 418px;
        height: 450px;
    }

    .title {
        font-size: 40px;
        line-height: 44px;
    }

    .step-bottom {
        margin: 0;
        bottom: 30px;
    }

    .step-bottom-two {
        margin: 0;
        bottom: 100px;
    }

    .step-bottom-three {
        margin: 0;
        bottom: 180px;
    }

    .step-top {
        top: 48px;
    }

    .step-box {
        max-width: 329px;
        min-height: 263px;
    }

    .border-box-right {
        width: 293px;
        height: 100px;
        left: 260px;
        top: 150px;
    }

    .border-box-left {
        width: 293px;
        height: 100px;
        top: 130px;
        left: 140px;
    }

    /* testimonials-section */
    .testimonials {
        display: flex;
        flex-direction: column;
    }



    .testimonial {
        display: flex;
        flex-direction: column;
    }

    .testimonial-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .user-photo {
        margin-right: 0;
    }

    .testimonial-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .testimonial-counter {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    /* contact */
    .controls {
        display: flex;
    }

    .controls-tablet {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .controls-tablet .btn-control {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }

    .controls-tablet .btn-control:hover {
        border: 2px solid #6248FF;
    }

    .controls .btn-control {
        display: none;
    }

    .controls-mobile .btn-control {
        display: none;
    }

    .contact-container {
        flex-direction: column;
        padding: 0;
    }

    .contact-info {
        padding-right: 0;
        margin-bottom: 20px;
        max-width: 509px;
    }

    .contact-info .title {
        text-align: center;
    }

    .contact-form-container {
        max-width: 509px;
    }

    /* footer-768 */
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .footer-logo {
        flex: 1;
        order: 1;
    }

    .footer-info {
        display: flex;
        flex: 3;
        order: 3;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 508px;
        width: 100%;
        margin: 0;
    }

    .footer-navigation {
        flex: 2;
        order: 2;
        margin: 0;
        width: 100%;
        margin-top: 54px;
        max-width: 100%;
    }

    .footer-navigation ul {
        display: flex;
        justify-content: space-between;

    }

    .footer-bottom {
        margin-top: 40px;
    }

    .footer-bottom-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}


/* Mobile 320px */

@media (max-width: 320px),
(max-width: 375px),
(max-width: 431px) {
    .container {
        padding: 0 20px;
    }

    .nav {
        padding: 0;
        padding-top: 20px;
    }

    .btn-primary {
        display: none;
    }

    .mobile {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .banner {
        padding: 420px 0;
    }

    .banner-text h1 {
        text-align: left;
        font-size: 40px;
        line-height: 44px;
    }

    .banner-text p {
        padding: 0px;
        text-align: left;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        line-height: 30px;
        color: #4F4F4F;
    }

    .banner-image .banner-img {
        width: 280px;
        height: 301px;
    }

    .title {
        font-size: 40px;
        line-height: 44px;
    }

    .step-container-left {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-bottom: 24px;
    }

    .step-container-right {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-bottom: 24px;
    }

    .box-right {
        display: flex;
        justify-content: center;
    }

    .box-left {
        display: flex;
        justify-content: center;
    }

    .step-bottom {
        margin: 0;
        bottom: 0;
    }

    .step-bottom-two {
        margin: 0;
        bottom: 0;
    }

    .step-bottom-three {
        margin: 0;
        bottom: 0;
    }

    .step-top {
        top: 0;
    }

    .step-top-mobile {
        top: 32px;
        padding-bottom: 54px;
    }

    .step-box {
        max-width: 280px;
        min-height: 307px;
    }

    .border-box-right {
        display: none;

    }

    .border-box-left {
        display: none;
    }

    .title-none {
        display: none;
    }

    .title-unone {
        display: block;
    }

    .faq-title {
        font-size: 18px;
        margin: 0;
    }
    .faq-answer {
        margin: 0;

    }
    .faq.open .faq-answer {
        opacity: 1;
        padding: 10px 20px 400px 20px;
        max-height: 600px;
    }

    .contact-form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 48px 16px;
        max-width: 430px;
        max-height: 415px;
    }

    .btn-contact {
        display: block;
    }

    .controls-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .controls-tablet .btn-control {
        display: none;
    }

    .controls-mobile .btn-control {
        display: block;
    }

    .controls-mobile .btn-control:hover {
        border: 2px solid #6248FF;
    }

    .footer-navigation {
        display: flex;
        justify-content: left;
        margin: 0;
        margin-top: 32px;
    }

    .footer-navigation ul {
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction: column;
    }

    .footer-bottom-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
}